**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/TestResults
**/*.user
**/*.suo

artifacts

mci-dashboard/node_modules
mci-dashboard/dist
mci-dashboard/*.tsbuildinfo

src/**/appsettings.Local.json
**/*.log
**/*.pid
